:root {
	--bg-logo: #F33;
	--pump-logo: #7AF;
	--submit-btn: #382;
	--meal-logo: sandybrown;
	--food-card: #444;
	--food-card-light: #666;
	--notes-logo: #555;
	--uparrow: #8F88;
	--dark-uparrow: #282;
	--downarrow: #F888;
}

* {
	box-sizing: border-box;
}

html, body {
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	background: #222;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
